<h1 class="text-center">Liste des produits</h1>

<p-button label="Créer produit" (onClick)="onCreate()" class="block text-center"/>

<p-dataView #dv [value]="products()">
    <ng-template pTemplate="list" let-products>
        @for (product of products; track product) {
            <p-card class="block mb-2">
                <span class="font-medium text-secondary text-m">{{ product.category }}</span>
                <div class="flex justify-content-between">
                    <div class="flex">
                        <div class="text-lg font-medium text-900 mt-2 pr-3">{{ product.name }}</div>
                        <div class="text-lg font-medium text-900 mt-2 border-left-1 px-3">{{ product.rating }} <span class="pi pi-star-fill"></span> </div>
                        <div class="text-lg font-medium text-900 mt-2 border-left-1 px-3">{{ product.price }}€</div>
                        <div class="text-lg font-medium text-900 mt-2 border-left-1 px-3">{{ product.inventoryStatus }}</div>
                    </div>
                    <div class="text-lg font-medium text-900 mt-2">{{ product.image }}</div>
                </div>
                <div class="text-sm font-medium text-800 pt-3">{{ product.description }}</div>

                
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Ajouter au panier" severity="primary" (onClick)="addToCart(product)"/>
                        <p-button label="Modifier" severity="secondary" (onClick)="onUpdate(product)"/>
                        <p-button label="Supprimer" severity="danger" (onClick)="onDelete(product)" />
                    </div>
                </ng-template>
            </p-card>
        }
    </ng-template>
</p-dataView>

<p-dialog [(visible)]="isDialogVisible"
    [style]="{ width: '50vw' }"
    header="Ajout/Edition produit">
    <app-product-form
        [product]="editedProduct()"
        (save)="onSave($event)"
        (cancel)="onCancel()"
    />
</p-dialog>